<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tambapps.p2p.peer_transfer.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/round_appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="com.tambapps.p2p.peer_transfer.android.io.GenericFileProvider"
            android:authorities="${applicationId}.io"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name="com.tambapps.p2p.peer_transfer.android.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tambapps.p2p.peer_transfer.android.ReceiveActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tambapps.p2p.peer_transfer.android.SendActivity"
            android:theme="@style/AppTheme.TransferScreen"/>

        <service android:name="com.tambapps.p2p.peer_transfer.android.service.FileSendingJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <service android:name="com.tambapps.p2p.peer_transfer.android.service.FileReceivingJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
    </application>

</manifest>