<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Receiving file</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{/js/progress.js}"></script>
</head>
<body>
<div class="page-content">
    <h2>File reception</h2>
    <p th:text="'ip: ' + ${peer.ip}"></p>
    <p th:text="'port: ' + ${peer.port}"></p>
    <progress id="progress" max="100" value="0"></progress>
    <p id="text"></p>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var progressID = [[${currentTask.id}]];
        intervalUpdateProgress("progress",progressID, "text");
        /*]]>*/
    </script>
</div>

</body>
</html>