<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Send file</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Select the file you want to send</h2>
<form action="#" th:action="@{/send}" th:object="${filePath}" method="post">
    <div class="error" th:if="${#fields.hasErrors('path')}" th:text="|${#fields.errors('path').get(0)}|"></div>
    <p> <input type="text" th:field="*{path}"/></p>

    <p><input type="submit" value="Submit"/> </p>
</form>
</body>
</html>